<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Restaurant List</title>
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="Restaurant List">
          {{#if isAuthenticated}}{{user.name}}的{{/if}}餐廳清單
        </a>
        <div class="d-flex justify-content-center">
          {{#if isAuthenticated}}
          <a class="btn btn-outline-info btn-sm" href="/users/logout">登出</a>
          {{else}}
          <a class="btn btn-outline-info btn-sm" href="/users/login">登入</a>
          {{/if}}
          <a class="btn btn-outline-info btn-sm" href="/restaurants/new" role="button"><i class="fas fa-plus"></i> 新增餐廳</a>
        </div>
      </div>
    </nav>
    <div class="banner"></div>
  </header>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>