<h1 class="mb-1 restaurant-show-title">立即登入</h1>
<div class="row mt-3">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-info btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        Need an account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>